.heading {
    background: white;
    border: none;
    border-radius: 12px;
    width: max-content;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}

.headingText {
    font-size: 5vw;
    color: #2f3e46;
    padding: 10px;
    text-align: center;
    
}

.head {
    background: white;
    border-radius: 12px;
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}

.head>img {
    vertical-align: middle;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.displaytitle {
    color: #354f52;
    padding: 10px;
    display: inline-block;
    z-index: 0;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    vertical-align: middle;
}

.save {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    margin-left: 20px;
    vertical-align: middle;
    margin-left: 20px;
    cursor: pointer;
    fill: #354f52;
}

.save:hover {
    fill: #2a3e46
}

.save:active {
    fill: #1e2c2e
}